/* RESET CSS */
html * {
    margin: 0px;
    text-decoration: none;
}

#menu {
    height: 400px;
    background-color: #747373;
    /* ALINHAR NO CENTRO */
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil {
    height: 300px;
    width: 300px;
    /* AJUSTAR IMAGEM SEM PERDER PROPORÇÃO */
    object-fit: cover;
    /* DEIXAR A IMAGEM ARREDONDADA */
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
}

main { text-align: center;
        background-color: #5c5c5c;
        color: white;
        padding: 20px;   
    }


#principal {
    height: 400px;
    background-color: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caixa {background-color:#1f1f1f; 
    height: 300px;
    width: 300px;
    margin: 100px;  
/*ALINHAMENTO DO TEXTO  */
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto {
    color:white;
    font-size: 30px;
    
}

#rodapé {
    height:200px;
    background-color: #505050;
    /* ALINHAMENTO DAS REDES SOCIAIS */
    display: flex;
    justify-content: center;    
    align-items: center;
   
}

.icones {
       height: 100px;
       margin: 20px;
}